[rancher-rke2-common-latest]
name=Rancher RKE2 Common Latest
baseurl=https://rpm.rancher.io/rke2/latest/common/centos/8/noarch
enabled=1
gpgcheck=1
gpgkey=https://rpm.rancher.io/public.key

[rancher-rke2-1-{{ RKE2_MINOR }}-latest]
name=Rancher RKE2 1.{{ RKE2_MINOR }} Latest
baseurl=https://rpm.rancher.io/rke2/latest/1.{{ RKE2_MINOR }}/centos/8/x86_64
enabled=1
gpgcheck=1
gpgkey=https://rpm.rancher.io/public.key
